:root {
  --primaryColor: "#FFFFFF";
 --secondaryColor: "#FFFFFF";
 --tertiaryColor: "#FFFFFF"
}
body{
background: linear-gradient(var(--primaryColor), var(--secondaryColor));    
overflow: hidden;
}
video{
    opacity: 0;
    position: absolute;
}